@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title-section {
    @apply text-dark text-center text-[32px] font-bold mb-[32px] lg:mb-[80px];
  }

  .card {
    @apply bg-dark rounded-[32px] p-[32px] flex flex-col gap-[24px] max-w-[360px];
  }

  .card-title {
    @apply text-white text-[20px] font-bold;
  }

  .card-text {
    @apply text-white;
  }

  @media (min-width: 600px) {
    .buttonEffect {
      overflow: hidden;
      position: relative;
      border: 1px solid #2d2d2d;

      > span,
      > img {
        position: relative;
        z-index: 2;
      }
    }

    .buttonEffect::after {
      content: "";
      display: block;
      position: absolute;
      width: 104%;
      height: 106%;
      border-radius: 20px;
      top: 50%;
      background: #ffffff;
      z-index: 1;
      transform: translateY(-50%);

      animation: slideOut 0.35s forwards;
    }

    .buttonEffect:hover {
      > span {
        color: #2d2d2d;
      }

      > img {
        filter: brightness(0) saturate(100%) invert(10%) sepia(10%) saturate(0%)
          hue-rotate(243deg) brightness(107%) contrast(84%);
      }
    }

    .buttonEffect:hover::after {
      animation: slideIn 0.35s forwards;
    }

    @keyframes slideIn {
      0% {
        left: -55%;
      }
      100% {
        left: 0;
      }
    }

    @keyframes slideOut {
      0% {
        left: 50%;
      }
      100% {
        left: 155%;
      }
    }
  }
}
